<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BrainRoot</title>
  <link rel="stylesheet" href="/style/login.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
  <div class="header">
    <div class="wrapper">
      <div class="nav-logo">
        <p>BrainRoot</p>
      </div>
      <nav class="nav"></nav>
    </div>
    <!----------------------------------- Form Box ---------------------------------------->
    <div class="form-box">
      <!------------------- login form -------------------------->
      <form action="/login" method="post">
        <div class="login-container" id="login">
          <div class="top">
            <span>Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
            <header><b>LOGIN</b></header>
          </div>
          <div class="input-box">
            <input type="text" class="input-field" placeholder="Username or Email" name="email" required autocomplete="off" />
            <i class="bx bx-user"></i>
          </div>
          <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" name="password" required />
            <i class="bx bx-lock-alt"></i>
          </div>
          <div class="input-box">
            <input type="submit" class="submit" value="Sign In" />
          </div>
          <div class="two-col">
            <div class="one">
              <input type="checkbox" id="login-check" />
              <label for="login-check"> Remember Me</label>
            </div>
            <div class="two">
              <label><a href="#">Forgot password?</a></label>
            </div>
          </div>
        </div>
      </form>
      <!------------------- registration form -------------------------->
      <form action="/signup" method="post">
        <div class="register-container" id="register">
          <div class="top">
            <span>Have an account? <a href="#" onclick="login()">Login</a></span>
            <header><b>SIGN UP</b></header>
          </div>
          <div class="two-forms">
            <div class="input-box">
              <input type="text" class="input-field" placeholder="Firstname" name="firstname" required />
              <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
              <input type="text" class="input-field" placeholder="Lastname" name="lastname" required />
              <i class="bx bx-user"></i>
            </div>
          </div>
          <div class="input-box">
            <input type="email" class="input-field" placeholder="Email" name="email" required />
            <i class="bx bx-envelope"></i>
          </div>
          <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" name="password" required />
            <i class="bx bx-lock-alt"></i>
          </div>
          <div class="input-box">
            <input type="submit" class="submit" value="Register" />
          </div>
          <div class="two-col">
            <div class="one">
              <input type="checkbox" id="register-check" />
              <label for="register-check">Remember Me</label>
            </div>
            <div class="two">
              <label><a href="#">Terms & conditions</a></label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    function myMenuFunction() {
      var i = document.getElementById("navMenu");
      if (i.className === "nav-menu") {
        i.className += " responsive";
      } else {
        i.className = "nav-menu";
      }
    }

    function login() {
      document.querySelector(".login-container").style.transform = "translateX(0)";
      document.querySelector(".register-container").style.transform = "translateX(600px)";
    }

    function register() {
      document.querySelector(".login-container").style.transform = "translateX(-600px)";
      document.querySelector(".register-container").style.transform = "translateX(0)";
    }
  </script>
</body>
</html>
